.ComponentNode {
    width: 70px;
    height: 70px;
}

.ComponentNode div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #FFF;
}

.ComponentNode .selected {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 8px solid #fff;
}

.ComponentNode .consumer {
    background-color: #05C7F2;
    border: 8px solid #05C7F2;
}

.ComponentNode .component {
    background-color: #056CF2;
    border: 8px solid #056CF2;
}

.ComponentNode p {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    width: 200px;
    position: relative;
    top: -10px;
    left: -65px;
    text-align: center;
}