.MenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-family: 'Lato', sans-serif;
}

.MenuItem span {
    font-size: 12px;
}