.DetailSidebar {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    overflow-y: scroll;
    padding: 0px 40px;
}

.DetailSidebar h1 {
    margin: 0;
    padding: 15px 0px;
}

.DetailSidebar h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #BABABA;
}

.DetailSidebar a {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
}

.DetailSidebar a:hover {
    text-decoration: underline;
}

.DetailSidebar .component-header {
    display: flex;
    align-items: center;
}

.DetailSidebar .component-header .i-icon {
    cursor: pointer;
}

.DetailSidebar .component-header .component-name {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-left: 18px;
}

.DetailSidebar .component-header .component-name h1 {
    /* padding-bottom: 24px; */
    /* padding-left: 12px;
    overflow: hidden; */
    padding: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}

.DetailSidebar .component-header h3 {
    margin: 0px;
}

.DetailSidebar .link {
    display: flex;
    align-items: center;
}

.DetailSidebar .link span {
    margin-right: 5px;
}

.DetailSidebar span.tag {
    background-color: red;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 2px;
    color: white;
    display: inline-block;
    font-size: 14px;
}

.DetailSidebar .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0px;
}

.DetailSidebar .details p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #474747;
    margin: 0px;
}